@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

#bar-title {
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding: 5px;
    padding-bottom: 0;
    text-align: center;
}

#refreshbutton {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}